.Chat {
  height: calc(100vh - 20px);
}

.Chat__window {
  height: calc(100vh - 160px);
  padding: 20px;
  overflow-y: scroll;
}

.MessageForm {
  padding: 20px;
}

.MessageForm__input {
  width: 100%;
  border: 2px solid var(--inputBorder);
  background-color: var(--inputBackground);
  font-size: 1.1em;
  padding: 12px;
  outline: none;
  border-radius: 7px;
  color: hsla(0, 0%, 100%, 0.7);
}
