.UtilityBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.UserSearch {
  width: 11%;
  display: none;
  position: relative;
  transition: width 0.3s ease-in-out;

  &.isSearching {
    width: 18%;
  }
}

.UserSearch input {
  width: 100%;
  border: 2px solid var(--inputBorder);
  background-color: var(--inputBackground);
  padding: 6px 12px;
  border-radius: 7px;
  font-size: 0.9em;
}

.UserSearch__Results {
  position: absolute;
  top: 95%;
  padding: 12px;
  list-style-type: none;
  background-color: #353740;
  border: 2px solid var(--inputBorder);
  border-radius: 7px;
  width: 100%;
}

.UserSearch__Results li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.UserSearch__Results li button {
  padding: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face-wrapper {
  margin-left: 1em;
  height: 32px;
  width: 32px;
  text-align: center;
  position: relative;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.face-wrapper i {
  font-size: 1.8em;
  line-height: 32px;
}

@media screen and (min-width: 640px) {
  .UtilityBar {
    justify-content: space-between;
  }

  .UserSearch {
    display: block;
  }
}
