.Toast {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #6ac38a;
  padding: 1.2rem;
  box-shadow: 0 0 4px #999999;
  border-radius: 7px;
  transition: background-color 0.3s ease-in-out;
  animation: fade-in 0.6s ease-in;
}

.Toast--Success {
  background-color: var(--green);

  &:hover {
    background-color: var(--green);
  }
}

.Toast--Error {
  background-color: var(--red);

  &:hover {
    background-color: var(--red);
  }
}

.Toast--Warn {
  background-color: var(--yellow);

  &:hover {
    background-color: var(--yellow);
  }
}

.Toast--Closed {
  animation: fade-out 0.6s ease-in-out;
}

.Toast__Status {
  font-size: 1.2em;
  margin-bottom: 0.454545em;
}

.Toast__Message {
  font-size: 1em;
  letter-spacing: 1px;
}

.Toast__Status,
.Toast__Message {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.45);
  text-align: left;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
