button {
  background-color: var(--orange);
  outline: 0;
  border: 0;
  color: #FFF;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: color(var(--orange) b(+ 7%));
}
